body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
.sidebar {
    width: 20rem;
    height: calc(100vh - 1rem);
    background-color: white;
    border-radius: 0.75rem;
    border: 0.01rem solid black;
    margin: 0.5rem 0.5rem;
}
.sidebar-title{
    text-align: center;
    margin: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
}
.sidebar-option {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #9c0f48;
    color: white;
    border-radius: 0.5rem;
    height: 8rem;
    font-size: 2rem;
    cursor: pointer;
}
.sidebar-option:hover {
    background-color: #7a0c38;
}
.main-content {
    flex-grow: 1;
    border: 0.01rem solid black;
    border-radius: 0.75rem;
    margin: 0.5rem 0.5rem;
}