body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}
.title {
    color: #9c0f48;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 4rem 2rem; 
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 1rem; 
    padding: 2rem;
    gap: 2rem;
}
.card {
    text-decoration: none;
    background-color: #9c0f48;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    height: 10rem !important;
    width: 12rem !important;
    cursor: pointer;
}
.card:hover {
    background-color: #9c0f48;
    color: white;
}
@media only screen and (max-width: 515px) {
    .title {
        margin: 2rem 1rem;
    }
    .cards {
        margin: 1rem;
    }
    .card {
        width: 100% !important;
    }
}
